@import '~antd/dist/antd.css';
@import '../styles/variables';
@import 'reset-css';

body,
html,
#root,
.wrapper {
    height: 100%;
    color: $mainWhite;
    background-color: $mainBC;
    font-family: 'Roboto', sans-serif;
}

* {
    outline: none;
}