@import '../../styles/variables';


.message {
    display: flex;

    $self: &;

    &__content {
        display: flex;
        max-width: 350px;
        margin-bottom: 13px;
        position: relative;
    }

    &__avatar {
        display: flex;
        flex-direction: column-reverse;

        img {
            margin-left: 5px;
            border-radius: 50px;
            width: 34px;
            height: 34px;
            margin-right: 12px;
            margin-bottom: 21px;
        }
    }

    &__bubble {
        background: $mainDarker;
        border-radius: 12px 12px 12px 0px;
        padding: 15px;
        margin-bottom: 5px;
    }

    &__text {
        font-size: 14px;
        color: $mainWhite;
        line-height: 19px;
    }

    &__iconCheked {
        position: absolute;
        bottom: 20px;
        left: -25px;
    }

    &__date {
        font-size: 12px;
        opacity: 0.6;
    }

    &--isme {
        display: flex;
        flex-direction: row-reverse;

        #{$self}__content {
            margin-bottom: 15px;
            flex-direction: row-reverse;
        }

        #{$self}__avatar {
            img {
                margin-right: 5px;
                margin-left: 13px;
            }
        }

        #{$self}__info {
            text-align: right;
        }

        #{$self}__bubble {
            background: $mainLighterDark;
            border-radius: 12px 12px 0px 12px;

            #{$self}__text {
                color: $mainWhite;
            }
        }
    }
}