@import '../../styles/variables';


.message {
    display: flex;

    $self: &;

    &__content {
        display: flex;
        max-width: 350px;
        margin-bottom: 13px;
    }

    &__avatar {
        display: flex;
        flex-direction: column-reverse;

        img {
            margin-left: 5px;
            border-radius: 50px;
            width: 34px;
            height: 34px;
            margin-right: 12px;
            margin-bottom: 21px;
        }
    }

    &__bubble {
        background: $mainDarker;
        border-radius: 12px 12px 12px 0px;
        padding: 15px;
        margin-bottom: 5px;
    }

    &__text {
        font-size: 14px;
        color: $mainGrey;
        line-height: 19px;
        letter-spacing: 0.3px;
    }

    &__readed {
        position: absolute;
        bottom: 20px;
        left: -25px;

        &__unReaded {
            left: -20px;
        }
    }

    &__date {
        font-size: 12px;
        opacity: 0.6;
    }

    &__icon-readed {
        position: absolute;
        bottom: 22px;
        left: -25px;

        &--no {
            left: -20px;
        }
    }

    &--isme {
        display: flex;
        flex-direction: row-reverse;

        #{$self}__content {
            margin-bottom: 15px;
            flex-direction: row-reverse;
        }

        #{$self}__avatar {
            img {
                margin-right: 5px;
                margin-left: 13px;
            }
        }

        #{$self}__icon {
            left: 0;
            bottom: 0px;
            position: absolute;
        }

        #{$self}__info {
            text-align: right;
            position: relative;
        }

        #{$self}__bubble {
            background: $mainLighterDark;
            border-radius: 12px 12px 0px 12px;

            #{$self}__text {
                color: $mainGrey;
                text-align: left;
            }
        }
    }

    &--is-typing {
        #{$self}__bubble {
            margin-bottom: 0;
        }
    }

    &--image {
        #{$self}__attachments {
            &-item {
                img {
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }

    &--is-audio {

        #{$self}__bubble {
            width: 300px;
            position: relative;
            overflow: hidden;
        }

        #{$self}__audio {

            &-info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
            }

            &-btn {
                button {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    border: 0;
                    width: 25px;
                    height: 25px;
                    border-radius: 30px;
                    background: $mainBlue;

                    img {
                        width: 14px;
                    }

                }
            }

            &-duration {
                font-weight: bolder;
                opacity: 0.5;
                font-size: 14px;
            }

            &-progress {
                height: 100%;
                left: 0;
                top: 0;
                position: absolute;
                background-color: #4682b4;
                opacity: 0.3;
            }
        }
    }

    //================Typing animation====================//
    &__typing {
        display: table;

        span {
            height: 7px;
            width: 7px;
            float: left;
            margin: 0 1px;
            background-color: $mainGrey;
            display: block;
            border-radius: 50%;
            opacity: 0.4;

            @for $i from 1 through 3 {
                &:nth-of-type(#{$i}) {
                    animation: 1s blink infinite ($i * .3333s);
                }
            }
        }
    }

    @keyframes blink {
        50% {
            opacity: 1;
        }
    }

    @keyframes bulge {
        50% {
            transform: scale(1.05);
        }
    }
}

//================Typing animation====================//